
  <div class="jumbotron">
    <h1 class="title">18K Offer</h1>
    <p class="slogan">还在为未来迷茫吗？快来 18K Offer 吧！
    <br>
    我们将藉由这个网站，让你找到自己热爱的事业。
    <br>
     凭借自己的努力和天份也会变 Winner
    </p>
    <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">试一试</a></p>
  </div>

  <section id="company">

    <div class="container-fluid bg-2 text-center">
      <h2>What We can provide ?</h2>
    </div>

    <div class = "container">
      <div class="row">
        <div class="col-sm-4 ">
          <div class="thumbnail">
            <img src="http://www.lanthr168.com/uploads/161027/1-16102G54221D8.png" alt="search" class = "img-thhumbnail">
            <div class="caption">
              <h3>分析个人能力</h3>
            </div>
          </div>
        </div>
        <div class="col-sm-4 ">
          <div class="thumbnail">
            <img src="http://a2.att.hudong.com/17/19/20200000013920144736199184752_s.jpg" alt="bid" class = "img-thhumbnail">
            <div class="caption">
              <h3>定位职业倾向</h3>
            </div>
          </div>
        </div>
        <div class="col-sm-4 ">
          <div class="thumbnail">
            <img src="http://img2.readhouse.net/14767889831744784.jpg" alt="heart" class = "img-thhumbnail">
            <div class="caption">
              <h3>提供对口工作</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
